.label {
  /* display: flex;
  flex-direction: column; */
  display: block;
  width: 546px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  color: inherit;
  background-color: inherit;
  /* width: 300px;
  margin-top: 14px;
  margin-bottom: 14px; */
}
